# Environment variables for mysql
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppassword
MYSQL_ROOT_PASSWORD=rootpassword

# Environment variables for wordpress1
WORDPRESS_DB_HOST1=mariadb
WORDPRESS_DB_USER1=wpuser
WORDPRESS_DB_PASSWORD1=wppassword
WORDPRESS_DB_NAME1=wordpress

# Environment variables for wordpress2
WORDPRESS_DB_HOST2=mariadb
WORDPRESS_DB_USER2=wpuser
WORDPRESS_DB_PASSWORD2=wppassword
WORDPRESS_DB_NAME2=wordpress2

# Environment variables for wordpress3
WORDPRESS_DB_HOST3=mariadb
WORDPRESS_DB_USER3=wpuser
WORDPRESS_DB_PASSWORD3=wppassword
WORDPRESS_DB_NAME3=wordpress3